
body{

    margin: 0;
  width: 100vw;
  height: 100vh;
  background-image:url(https://png.pngtree.com/background/20230416/original/pngtree-website-circular-graphic-background-picture-image_2443640.jpg)
}
p {text-align: center}
h1{
    color: #c62323e5

}